.flex { display: flex; }
.flex-none { flex: none; }
.flex-wrap    { flex-wrap: wrap; }

.items-center   { align-items: center; }

.justify-between { justify-content: space-between; }

@media (--breakpoint-not-small) {
  .flex-ns { display: flex; }
}

@media (--breakpoint-large) {
  .flex-l { display: flex; }
}
