html {
  font-size: var(--font-size);
  @media (--breakpoint-medium) {
    font-size: var(--font-size-m);
  }
  @media (--breakpoint-large) {
    font-size: var(--font-size-l);
  }
  background-color: var(--black);
}


body {
  font-family: var(--font-family);
  font-size: var(--spacing-medium);
  line-height: var(--line-height);
  font-weight: var(--body-font-weight);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--off-white);
 }

p {
  margin-bottom: var(--spacing-medium);
  max-width: 32rem;
}
