.w4 {    width: 8rem; }

.w-100 { width: 100%; }

@media (--breakpoint-not-small) {
  .w-50-ns { width:  50%; }
}

@media (--breakpoint-large) {
  .w-40-l {    width:  40%; }
  .w-60-l {    width:  60%; }
}
